body  {
	font-family : tahoma, verdana, arial, helvetica;
	font-size : 12px;
	line-height : 12px;
	color : black;
	background-color : #E4E4E4;
}

th  {
	font-family : tahoma, verdana, arial, helvetica;
	font-size : 12px;
	line-height : 12px;
	color : black;
	font-weight : bold;
	border-color : black;
	border-width : 2px;
	border-style : solid;
	padding : 2px;
	background-color : Silver;
}

td  {
	font-family : tahoma, verdana, arial, helvetica;
	font-size : 12px;
	line-height : 12px;
	color : Black;
}

.titulotabla  {
	font-family : tahoma, verdana, arial, helvetica;
	font-size : 13px;
	line-height : 13px;
	color : black;
	text-align : center;
	font-weight : bold;
	border-left-width : 2px;
	border-color : Gray;
	border-style : solid;
	border-right-width : 2px;
	border-top-width : 2px;
	border-bottom-width : 0px;
	padding-bottom : 0px;
	float : none;
}

A  {
	font-family : tahoma, verdana, arial, helvetica;
	font-size : 12px;
	font-weight : bold;
	color : Gray;
}

A:hover  {
	font-family : tahoma, verdana, arial, helvetica;
	font-size : 12px;
	font-weight : bold;
	color : #000000;
}

.titulo  {
	font-family : tahoma, verdana, arial, helvetica;
	font-size : 16px;
	line-height : 16px;
	font-weight : bold;
	color : black;
}

.titulobig  {
	font-family : tahoma, verdana, arial, helvetica;
	font-size : 18px;
	line-height : 18px;
	font-weight : bold;
	color : black;
}


.titulotiny  {
	font-family : tahoma, verdana, arial, helvetica;
	font-size : 13px;
	line-height : 13px;
	font-weight : bold;
	color : black;
}

hr  {
	color : Gray;
	border-width : 1px;
}

input  {
	font-family : tahoma, verdana, arial, helvetica;
	font-size : 12px;
	line-height : 12px;
}



