/* 
    Document   : table
    Created on : 07/07/2013, 12:15:48 PM
    Author     : Edwin
    Description:
        Purpose of the stylesheet follows.
*/

.footable.breakpoint > tbody > tr > td.expand {
  background: url('img/plus.png') no-repeat 5px center;
  
  padding-left: 40px;
}

.footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
  background: url('img/minus.png') no-repeat 5px center;
  
}
.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}

.footable > tbody > tr > td, .footable > thead > tr > th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;

  text-align: left;
}

.footable > tbody > tr > td.footable-cell-detail {
  border-left: none;
}


